.item {
  position: relative;
  overflow: hidden;
  margin-top: 6px;
}

.item:first-child {
  margin-top: 0;
}

.item:hover {
  background-color: skyblue;
  transition: background-color .5s;
}

.item img {
  width: 100%;
  transition: all 0.3s;
  vertical-align: middle;
}

.item:hover img {
  transform: scale(1.1);
  opacity: 0.6;
}