.item {
  position: relative;
  overflow: hidden;
  padding-top: 3px;
}

.item:first-child, .item:last-child {
  padding-top: 0;
}

.item:hover {
  background-color: skyblue;
  transition: background-color .5s;
}

.item img {
  max-width: 100%;
  transition: all 0.3s;
}

.item:hover img {
  transform: scale(1.1);
  opacity: 0.6;
}